body {
    font-family: 'Dosis', sans-serif;
    font-family: 'Hind', sans-serif;
    font-family: 'Cabin', sans-serif;
    font-family: 'Assistant', sans-serif;
}

section {
    width: 150%;
    text-align: center;
    font-size: 2em;
    margin-left: 2%;
}

button {
    height: 5%;
    background-color: #561F4D;
    color: #FFFFFF;
    font-size: 1em;
    width: 85%;

}

.header-img {
    margin: -3% 0% 0% -3%;
}

.options {
    text-align: center;
    vertical-align: -webkit-baseline-middle;
}

.help-button {
    background-color: #954169;
    display: inline-block;
    border-radius: 50%;
    width: 56%;
    height: 250px;
    color: white;
    border: 0;
    font-weight: bold;
    font-size: 1.5em;
}


.help-button:hover {
    animation: pulse 1s infinite;
    animation-timing-function: linear;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}